/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define SYM 1
#define NAV 2
#define NUM 3
#define FUN 4

&mt {        
    flavor = "tap-preferred";
    tapping_term_ms = <150>;
};

/ {
    chosen {
        // 34 keys.

        zmk,matrix-transform = &dual_1u_transform;

        // 33 keys. Center two thumb keys replaced by a single 2u key. Remember to adjust your
        // keymap accordingly!
        // zmk,matrix-transform = &single_2u_transform;
    };
};

/ {
    combos {
        compatible = "zmk,combos";
        /*
        combo_tab {
                timeout-ms = <50>;
                key-positions = <0 1>; // QW
                bindings = <&kp TAB>;
        };
        */
        combo_esc {
                timeout-ms = <50>;
                key-positions = <16 17>; // JK
                bindings = <&gresc>;
        };
        combo_gui {
            timeout-ms = <50>;
            key-positions = <20 21>; // ZX
            bindings = <&kp LGUI>;
        };
        combo_caps {
                timeout-ms = <50>;
                key-positions = <21 29>; // Z/
                bindings = <&caps_word>;
        };
        /*
        combo_bksp {
                timeout-ms = <50>;
                key-positions = <17 18>; // KL
                bindings = <&kp BSPC>;
        };
        combo_double_quote {
                timeout-ms = <50>;
                key-positions = <18 19>; // LM
                bindings = <&kp DQT>;
        };
        combo_single_quote {
                timeout-ms = <50>;
                key-positions = <28 29>; // ./
                bindings = <&kp SQT>;
        };
        */
    };

    keymap {
        compatible = "zmk,keymap";


// ---------------------------------------------------------------------------------------------------
// |    q    |    w    |    e     |    r    |  t  |   |  y  |    u    |    i     |    o    |    p    |
// |    a    |    s    |    d     |    f    |  g  |   |  h  |    j    |    k     |   l     |    ;    |
// |    z    |    x    |    c     |    v    |  b  |   |  n  |    m    |    ,     |    .    |    /    |
//                        | SYM - TAB | NAV - SPACE | NUM - RET | FUN BSPC |
        base {
            display-name = "Base";
            bindings = <
&kp Q       &kp W       &kp E      &kp R       &kp T         &kp Y         &kp U       &kp I          &kp O         &kp P
&mt LSHFT A &mt LALT S &mt LCTRL D &mt LGUI F  &kp G         &kp H         &mt RGUI J  &mt RCTRL K    &mt RALT L    &mt RSHFT SEMI
&kp Z       &kp X       &kp C      &kp V       &kp B         &kp N         &kp M       &kp COMMA      &kp DOT       &kp SLASH
                                   &lt SYM TAB &lt NAV SPACE &lt NUM RET   &lt FUN BSPC
            >;
        };

// ---------------------------------------------------------------------------------------------------
// |    !    |    @    |    #     |    $    |  %  |   |  ^  |    &    |    *     |    `    |    ~    |
// |         |         |          |         |     |   |  -  |    =    |          |    '    |    "    |
// |         |         |          |         |     |   |  _  |    +    |          |    |    |    \    |
//                                |         |     |   |     |   DEL   |
        sym {
            display-name = "Symbol";
            bindings = <
&kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp ASTRK &kp GRAVE &kp TILDE
&trans   &trans &trans   &trans   &trans      &kp MINUS &kp EQUAL &trans    &kp SQT   &kp DQT
&trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &trans    &kp PIPE  &kp BSLH
                         &trans   &trans      &trans    &kp DEL
            >;
        };

// ---------------------------------------------------------------------------------------------------
// |         |         |          |         |      |   | Home |    {    |     }    |    (    |     )   |
// |         |         |          |         |      |   | Left |  Down   |    Up    |  Right  |   End   |
// |         |         |          |         |      |   | End  |    [    |     ]    |    <    |     >   |
//                                |         |      |   |      |         |
        nav {
            display-name = "Navigation";
            bindings = <
&trans &trans &trans &trans &trans      &kp HOME &kp LBRC &kp RBRC &kp LPAR  &kp RPAR
&trans &trans &trans &trans &trans      &kp LEFT &kp DOWN &kp UP   &kp RIGHT &kp END
&trans &trans &trans &trans &trans      &kp END  &kp LBKT &kp RBKT &kp LT    &kp GT
                     &trans &trans      &trans   &trans
            >;
        };

// ---------------------------------------------------------------------------------------------------
// |    1    |    2    |     3    |    4    |  5  |   |  6  |    7    |    8     |    9    |    0    |
// |         |         |          |         |     |   |     |    4    |    5     |    6    |         |
// |         |         |          |         |     |   |     |    1    |    2     |    3    |         |
//                                |         |     |   |  0  |         |
        num {
            display-name = "Number";
            bindings = <
&kp N1 &kp N2 &kp N3 &kp N4 &kp N5      &kp N6 &kp N7 &kp N8 &kp N9 &kp N0
&trans &trans &trans &trans &trans      &trans &kp N4 &kp N5 &kp N6 &trans
&trans &trans &trans &trans &trans      &kp N0 &kp N1 &kp N2 &kp N3 &trans
                     &trans &trans      &trans &trans
            >;
        };

// ---------------------------------------------------------------------------------------------------
// |         |         |          |         |     |   | F1  |   F2    |   F3     |   F4    | printscreen |
// |         |         |          |         |     |   | F5  |   F6    |   F7     |   F8    |             |
// |         |         |          |         |     |   | F9  |   F10   |   F11    |   F12   |    mute     |
//                                |         |     |   |     |         |
        func {
            display-name = "Function";
            bindings = <
&trans &trans &trans &trans &trans      &kp F1 &kp    F2  &kp F3  &kp F4  &kp PSCRN
&trans &trans &trans &trans &trans      &kp F5 &kp    F6  &kp F7  &kp F8  &trans
&trans &trans &trans &trans &trans      &kp F9 &kp    F10 &kp F11 &kp F12 &kp C_MUTE
                     &trans &trans      &trans &trans
            >;
        };

    /*
        blank {
// ---------------------------------------------------------------------------------------------------
// |         |         |          |         |     |   |     |         |          |         |         |
// |         |         |          |         |     |   |     |         |          |         |         |
// |         |         |          |         |     |   |     |         |          |         |         |
//                                |         |     |   |     |         |
            display-name = "Blank";
            bindings = <
&trans &trans &trans &trans &trans      &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans      &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans      &trans &trans &trans &trans &trans
                     &trans &trans      &trans &trans
            >;
        };
    */

    };
};
